@import "tailwindcss";

body {
    margin: 0;
}

/* Custom utility to hide scrollbar for specific elements */
.hide-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}


